* {
  font-family: "Times New Roman", serif;
  line-height: 1.5;
}

html {
  font-size: 1.1rem;
}

body {
  background-color: rgb(212, 170, 170);
}

.artichoke {
  background-color: rgb(156, 214, 156);
  color: #202020;
}

.brownies {
  background-color: rgb(110, 92, 92);
  color: #dad3d3;
}

.main-heading {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  width: 500px;
  height: auto;
}
